html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Merriweather', serif;
    font-size:15px;
}
.navbar{
    display: flex;
    align-items: center;
    padding:20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display : inline-block;
    list-style-type: none;
}
nav ul li{
    display : inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
.container{
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #07575b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #66a5ad;
}
.header{
    background: radial-gradient(#c4dfe6,#66a5ad);
    height: 950px;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin:70px 0;
}

/*---- Our Products Recommendation---*/
.title{
    text-align: center;
    margin: 10vh auto 30px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: #07575b;
    width: 90px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.katalog{
    /* display: flex; */
    margin-top: 100px;
    max-width: 100%;
}

.cover {
    width: 30%;
    min-width: 200px;
    margin: 30px 30px;
    padding: 10px 14px;
    border: 1px solid black;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}

.cover img {
    margin-top: 50px;
}

.cover:hover{
    padding: 10px;
    transition: 0.5s;
}

.cover h2 {
    border-top: 1px solid black;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.cover h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.add-cart{
    border: 1px solid black;
    margin-top: 2vh;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    cursor: pointer;
    background-color: #66a5ad;
    color: #fff;
}

.shop-content{
    display: inline-flex;
    margin-left: 3%;
}

/*Footer*/
.footer{
    background: radial-gradient(#c4dfe6,#66a5ad);
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 15vh;
}
.footer p{
    color: black;
}
.footer h3{
    color: black;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #fff;
    height: 1px;
    margin: 20px 0;
}
.website{
    text-align: center;
}
/* About */
.motto{
    border: 2px solid #fff;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.2);
    margin-top: 100px;
    width: 1300px;
    height: 500px;
    font-size: 20px;
    position: relative;
}
.motto:hover{
    transition: all 0.5s;
}
.motto h2{
    text-align: center;
}
.motto p{
    margin-left: 20px;
}
.motto ul li{
    margin-left: 20px;
}
.circle{
    margin-right: 20px;
}
/* Subscribe Form */
.form-box{
    width: 50%;
    margin-left: 5px;
    border: 2px solid #fff;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.2);
    margin-top: 85px;
    width: 1213px;
    height: 500px;
    font-size: 20px;
    position: relative;
}
.form-box h2{
    text-align: center;
}
form{
    margin-left: 31%;
}

.email{
    width: 57%;
    
}
.lname{
    margin-left: 119px;
}
.name{
    width: 28%;
}
.status{
    margin-left: 100px;
}
.box{
    width: 28%;
}
.agree{
    margin-top: 44px;
}
.subscribe{
    width: 50%;
    cursor: pointer;
    display: block;
    border: 0;
    outline: none;
    border-radius: 30px;
    background:#07575b;
    box-shadow: 2px 2px 10px rgb(73, 73, 73);
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
}